@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-width: 30px;
  --swiper-pagination-bullet-height: 2px;
  --swiper-pagination-bullet-border-radius: 100px;
}

.homeBG {
  background-image: url("src/assets/images/backgroundhome.png");
}

.accountBG {
  background-image: url("src/assets/images/backgroundAccount.png");
}

@layer components {
  .card {
    @apply rounded-sm shadow-lg;
  }
}
